# SPDX-License-Identifier: Apache-2.0

# Bu, AM335x SoC Ailesini/Serisini sisteme tanıtır.
if SOC_SERIES_AM335X

# Bu klasördeki Kconfig.soc dosyasını oku.
# Bizim alt klasörümüz olmadığı için '*/Kconfig' yerine bunu kullanıyoruz.
rsource "Kconfig.soc"

endif # SOC_SERIES_AM335X
